@model IPagedList<Data.Entities.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Posts</h2>

<!-- Exibir nossos posts -->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </tr>
    }
</table>

<!-- Exibir controle de paginação -->
@Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page }))
